<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de perimetros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content class="ion-padding">
  <ion-item>
    <ion-select label="Figura Geométrica" [(ngModel)]="figura">

      <ion-select-option value="circulo">
        Círculo
      </ion-select-option>

      <ion-select-option value="triangulo">
        Triángulo
      </ion-select-option>

    </ion-select>
  </ion-item>

  <app-circulo *ngIf="figura === 'circulo'"></app-circulo>

  <app-triangulo *ngIf="figura === 'triangulo'"></app-triangulo>

</ion-content>
